.gameboard {
	background: url("../../resources/images/GameBoard_empty2.png");
/* 	background: blue; */
/* 	background-size: 620px 570px; */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 575px;
	width: 800px;
	position: relative;
}

.token-disabled {
	color: #3498db;
}

.abs {
	position: absolute;
}

ul, li {
	list-style-type: none;
/*     list-style-position:inside; */
    margin: 1px;
    padding:0;
}

#study {
/* 	background-color: yellow; */
/* 	height: 75px;
	width: 100px; */
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 40px;
	left: 100px;
}

#hall {
/* 	height: 75px;
	width: 100px; */
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 30px;
	left: 330px;
}
#lounge {
/* 	height: 75px;
	width: 100px; */
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 30px;
	left: 555px
}
#library {
/* 	height: 75px;
	width: 100px; */
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 240px;
	left: 95px;
}
#billiard {
/* 	height: 75px;
	width: 100px; */
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 240px;
	left: 330px;
}
#dining {
/* 	height: 75px;
	width: 100px; */
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 240px;
	left: 555px;
}
#conservatory {
/* 	height: 75px;
	width: 100px; */
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 440px;
	left: 95px;
}
#ballroom {
/* 	height: 75px;
	width: 100px; */
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 440px;
	left: 330px;
}
#kitchen {
/* 	height: 75px;
	width: 100px; */
	background-size: contain;
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
  	-webkit-flex-flow: row-wrap;
	top: 480px;
	left: 555px;
}
#hwy1{

 	top: 60px;
	left: 273px;
 }
 
#hwy2{
 	top: 60px;
	left: 500px;
 }
 
#hwy6{
 	top: 270px;
	left: 273px;
 }
 
#hwy7{
 	top: 270px;
	left: 500px;
 }
 
#hwy11{
	top: 495px;
	left: 273px;
}
#hwy12{
	top: 495px;
	left: 500px;
}

#hwy3 {
	top: 170px;
	left: 160px;
	
}
#hwy4 {
	top: 170px;
	left: 387px;
	
}
#hwy5 {
	top: 170px;
	left: 615px;
	
}

#hwy8 {
	top: 380px;
	left: 160px;
	
}

#hwy9 {
	top: 380px;
	left: 387px;
	
}
#hwy10 {
	top: 380px;
	left: 615px;
	
}
.scarlet {
 	content: url("../../resources/images/Scarlet_small.png");
 }

.mustard {
	content: url("../../resources/images/Mustard_small.png");
}

.green {
	content: url("../../resources/images/Green_small.png");
}

.white {
	content: url("../../resources/images/White_small.png");
}

.plum {
	content: url("../../resources/images/Plum_small.png");
}

.peacock {
	content: url("../../resources/images/Peacock_small.png");
}