h1, h2, h3, footer{
	color: #3498db;
	text-align: center;
}

img.main {
	src: url("../../resources/images/Header_Logo-small_v2.jpg");
}
.center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.mainmenu-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  justify-content: center;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  flex-flow: row-wrap;
  -webkit-flex-flow: row-wrap;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
}

.wrapper > * {
	padding: 10px;
	flex: 1 100%;
}

.notebook-container{ 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: left;
  flex-flow: row-wrap;
  -webkit-flex-flow: row-wrap;
  font-size: 13px;
}

.notebook-item{
	padding: 5px;
}
body {
	text-align: center;
}

button { 
	width: 200px;
	background: #3498db;
  	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  	background-image: -o-linear-gradient(top, #3498db, #2980b9);
  	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 10;
  	-moz-border-radius: 10;
	border-radius: 10px;
	border:solid #3498db 1px;
	-webkit-box-shadow: 0px 1px 3px #666666;
  	-moz-box-shadow: 0px 1px 3px #666666;
  	box-shadow: 0px 1px 3px #666666;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	margin: 20px;
	text-align: center;
	color:#fff;
	font-size:20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.button-disabled {
	background:#f8f8f8;
	color:#888;
}

.buttonlink { 
	color:#fff;
	font-size:20px; 
}
button:hover{
	background: #3cb0fd;
  	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  	text-decoration: none;
}

.top {
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	list-style: none;
  	align-items: flex-start;
  	-webkit-align-items: flex-start;
  	-webkit-justify-content: center;
  	justify-content: center;	 
}

.nav-button {
	margin: 2px;
}

.aside-left {
	position: relative;
	top: 5px;
	left: 5px
}

.aside-right {

/* 	background: yellow; */
}

/* @media all and (min-width: 600px){
	.aside { flex: 1 auto;}
} */

@media all and (min-width: 200px){
	.aside {flex: 0 auto;}
	.aside-right {flex: 0 auto;}
	.aside-left { order: 1;}
	.aside-right {order: 2;}

}


.status, .movehistory, .cards {
	height:150px;
	background:#3498db;
	border:solid #3498db 1px;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#fff;
	margin: 5px;
	text-align:left;
	padding: 5px 15px 5px 15px;
	overflow-y:scroll;
}

.bottom {
	justify-content: space-between;
}

